@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Pangolin', cursive;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* HEADER */

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1f1e1f;
    position: fixed;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_logo img {
    width: 70px;
}

.header_logo h3 {
    font-weight: bold;
    color: white;
}

.header_nav {
    display: flex;
    align-items: center;
}

.header_nav nav {
    display: flex;
    gap: 20px;
}

.header_nav a {
    color: white;
    text-decoration: none;
    transition: all 200ms ease-in;
    border: 3px solid transparent;
}

.header_nav a:hover {
    cursor: pointer;
    border-bottom: 3px solid #ffa500;  
    color: #ffa500;
}

.menu_hamb {
    display: none;
}

/* MAIN */

/* SECTION 01 */

.section_body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(../imgs/fundo_hamburger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60px;
}

.body_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.body_title h1{
    font-size: 2.8rem;
    color: #ffa500;
    font-family: 'Pangolin', cursive;
}

.body_title h2{
    font-size: 1.1rem;
    color: #fff;
    font-family: 'Pangolin', cursive;
}

.body_button {
    display: flex;
    gap: 30px;
}

.body_button button {
    width: 180px;
    padding: 10px 20px;
    background-color: #ffa500;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    transition: all 400ms ease-in;
    border: 1px solid black;
    font-family: 'Pangolin', cursive;
}

.body_button button:hover {
    border: 1px solid #ffa500;
    background-color: transparent;
    color: #fff;
}

/* SECTION SOBRE NOS */


.section_about {
    padding: 50px;
    width: 100%;
    padding-bottom: 3rem;
    background-color: #1f1e1f;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media(max-width:968px) {
    .section_about {
        flex-direction: column;
        gap: 40px;
    }
}

.about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_content h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about_content p {
    font-size: 1.2rem;
    text-align: center;
    width: 60%;
}


.about_image img{
    width: 430px;
    height: 300px;

    border: 2px solid rgb(155, 155, 155);
}

/* SECTION CARDAPIO */

.section_menu {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(15, 15, 15, 0.8));
}

.section_menu h2 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

.menu_content {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 550px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu_item {
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #151515;
}

.menu_item img { 
    width: 80%;
    height: 270px;
}

.menu_item p {
    text-align: center;
    width: 70%;
}

.item_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item_info button {
    width: 200px;
    height: 35px;
    margin-top: 0.5rem;
    background-color: #ffa500;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border:none;
    transition: all 200ms ease-in;
}

.item_info button:hover {
    background-color: #5e5252;
    color: rgb(255, 255, 255);
}


/* SECTION REDES*/

.section_medias {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1f1e1f;
    color: white;
}

.section_medias h2 {
    font-size: 2rem;
}

.medias_content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.media_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.media_item img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 1s ease;
}

.media_item img:hover {
    transform: rotate(360deg);
}

.media_item p {
    font-size: 1.2rem;
}

/* FOOTER */

.footer {
    width: 100%;
    padding: 0.3rem;
    text-align: center;
    background-color: #151515;
    font-size: 1.1rem;
}

.footer small {
    color: white;
}